doctype html
html
  head
    meta(charset="UTF-8")
    title Email Verified Successfully
    link(rel="stylesheet", href="../assets/styles.css")
  body
    div.email-container
      h1 Email Verified Successfully 🎉
      p Hello #{firstname},  
      p We are pleased to inform you that your email has been successfully verified. You can now enjoy full access to all our features.
      p Click below to log in to your account:
      a.email-button(href="#{email}") Login Now
      hr
      p If you didn’t request this, please contact our support team.
