doctype html
html
  head
    meta(charset="UTF-8")
    title Password Reset Successful
    link(rel="stylesheet", href="../assets/styles.css")
  body
    div.email-container
      h1 Your Password Has Been Reset
      p Hello #{locals.name},  
      p Your password has been successfully reset. If you did not perform this action, please contact our support immediately.
      p You can now log in with your new password.
      hr
      p Need help? Contact our support team.
